:root {
    /* Dracula Color Scheme */
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    font-size: 15px;
}

#cmdline_iframe {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    top: 50% !important;
    left: 50% !important;
    bottom: unset !important;
    transform: translate(-50%, -50%) !important;
    width: 75% !important;
    z-index: 69420 !important;
}
